$primaryColor: #545454;

$headerHeight: 60px;
$headerSmallHeight: 50px;
$sidebarWidth: 400px;

$xsmall: 400px;
$small: 768px;
$medium: 1024px;
$regular: 1300px;
$regularLarge: 1500px;
$large: 1580px;
$largeWideScreen: 1650px;
$wideScreen: 2000px;
$fullScreen: 2560px;
